<h4>Question:</h4>
<p> <%= @questions %></p>
<p class="highlight"><em>- You</em></p>

<h4>Answer:</h4>
<p> <%= @answer %></p>
<p class="highlight"><em>- Your coach</em></p>

<p><%= link_to 'Ask a new question', root_path, class: 'btn btn-primary'  %></p>
